body
{
  color: white;
  background: #02006e;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(255, 255, 255);
  width: 350px;
  height: 300px; 
  background-color: black;
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
font-size: 20px;
border-radius: 10px;
letter-spacing: 10px;
}
label{
font-size: 16px;
color:snow;
padding: 6px;
border-radius: 10px;
background-color: rgb(209, 0, 0);
}
